
.moreTeas{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#0051a1;
    text-align:center;
    transition: all 0.15s;
}

.backToDefinition{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#05386B;
    text-align:center;
    transition: all 0.15s;
}
.optionContainer{
    margin-bottom: 20px;
}

.tempAndTime{
    margin-top: 10px;
    margin-bottom: 10px;
}

.teaDetails{
    padding-right: 20px;
    padding-left: 20px;
}